{% extends 'base.html' %}

{% block title %}
  Home page
{% endblock %}

{% block body %}
  <h1>Hello {{ name }}!</h1>

  <div>
    <form>
      <div>
        <label for="name">Your name:</label>
        <input type="text" id="name" name="name" />
      </div>
      <div>
        <button class="btn btn-primary" type="submit">hello</button>
      </div>
    </form>
  </div>

  <div class="my-5">
    <a class="btn btn-success" href="{{ docs_url }}">Click here for Swagger docs</a>
  </div>
{% endblock %}
